body{
    background-image:url(assets/bg.jpg);
    background-size: cover;           
    background-repeat: no-repeat;      
    background-position: center center;
    height: 100vh;                
    margin: 0;                        
    padding: 0;
    }
 


/* button */
nav button img {
                height: 1em;
                width: auto;
                vertical-align: middle;
                margin-right: 0.5em;
            }

nav button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 0.5em;
                font-size: 20px;
            }

nav button:hover, nav button.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    outline: none;
    }



/* nav bar */
nav{
    padding:10px 20px;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.25); 
    border: 1.5px solid #b3c6e0;          
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    gap:10em;
    margin:2em auto;
    width:fit-content;
    position: relative;
    z-index:10;
}   
.hidden {
    display: none;
}


/* input box */
#cityInput {
    width: 627px;
    height: 30px;
    padding: 10px 18px;
    border-radius: 15px;
    border: 1.5px solid #b3c6e0;
    font-size: 17px;
    color: #3a4a5d;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
    margin-bottom:30px;
    position: relative;
    left: 220px;
    top:30px;
}

#cityInput::placeholder {
    color: #7b8490;
    opacity: 1;
}
#cityInput:focus {
    border: 1.5px solid #67b6c5;
    box-shadow: 0 4px 16px rgba(123,176,231,0.12);
}



/* todays weather */
.hourly-forecast {
    display:flex;
    justify-content:space-evenly;
    gap:26px;
    list-style-type: none;
    font-size:20px;
    margin:0;
    padding:0;
} 

.today{
    font-size: 24px;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);
    outline: none;
    width: fit-content;
    display: inline-block;
    border-radius: 15px;
    padding: 14px 30px;
    position: relative;
    top:45px;
    left:220px;
}

.today .section-title{
    font-size: 24px;
    font-weight: bold;
    color: #3a4a5d;
    margin-bottom: 30px;
    position:relative;
    left:27px;
}

.hourly-forecast li {
  flex:1;
  text-align: center;
  border-right: 1px solid rgb(197, 195, 195);
  padding:0 10px 10px;
  min-width:80px;
  font-size:22px;
}
.hourly-forecast li:last-child {
  border-right: none;
}

.hourly-forecast span {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}


/* Air condition */

.air-conditions{
    font-size: 22px;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);
    border-radius:15px;
    position:relative;
    top:70px;
    width:fit-content;
    padding: 20px 48px 35px 50px;
    left: 220px;
    }

.air-conditions .section-title{
    font-size: 24px;
    font-weight: bold;
    color: #3a4a5d;
    margin-bottom:30px;
    position:relative;
    left:10px;
}

.conditions-list {
  font-size:22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px 70px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.conditions-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px; 
}

.conditions-list .label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0; 
}

.conditions-list .value {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0; 
}



/* weather right */
.weather-right {
    position: relative;
    bottom:655px;
    left: 920px;
    width: fit-content;
    padding: 15px 70px;
    border-radius: 15px;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);
    font-size:19px;
}

.weather-right .section-title {
    font-size: 24px;
    font-weight: bold;
    color: #3a4a5d;
    margin-bottom: 30px;
}

.weather-right .weekly-forecast {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-content: center;
    align-items: center;
}


/* maps */
#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

